/* HERO SECTION */

.hero-upper .container, .hero .container {
    display: flex;
    align-items: center;
}

.hero-right {
    width: 60%;
}
.hero-left {
    justify-self: flex-end;
    width: 30%;
}

.hero-left {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    width: 70%;
}

.hero-left h2 {
    margin: 20px 0;
}

.hero-left select {
    padding: 15px 15px;
    border: 1px solid --primary;
    font-size: 1.2rem;    
    font-family: 'Lato';
    font-weight: 300;
    width: 100%;
}

.hero-left label {
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.382);
    font-weight: 400;
    color: black;
}

.hero-left button {
    padding: 30px 0;
    margin-top: 15px;
    background: var(--primary) !important;
}
.hero-left .flex div {
    margin: 0 5px;
}

.hero .container:last-of-type {
    align-items: center;
}

/* ARTICLES */
.hero-articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px 0;
}
.hero-left .flex-responsive div {
    width: 100%;
    margin: 0 5px;
}
.hero-left .btn.action {
    box-shadow: 0px 4px 16px rgba(16, 21, 104, 0.32);
}

.shpallje-articles {
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.shpallje-articles_article {
    background: #ffff;
    width: 355px;
    margin: 15px;
            /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 20px 20px 1px rgba(0, 0, 0, 0.1);
    position: relative;
}
.shpallje-articles_article:hover {
    cursor: pointer;
}
.shpallje-articles_article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.article_info {
    padding: 20px;
    margin-bottom: 60px;
}
.article_info-location img {
    width: 30px;
    display: flex;
    align-items: center;
    height: auto;
}
.article_info .section_paragraph-text {
    padding-left: 7px;
    font-size: 1rem;
}
.article_info-location {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
.article_info-hours {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: var(--secondaryLight);
    font-weight: 400;
}
.article_info-hours img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

@media (max-width: 886px) {
    .hero-left {
        width: 100%;
    }
}
@media (max-width: 1155px) {
    .hero-articles {
        justify-content: center;
    }
}